

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

 body {
   color: #121212;
   font-size: 16px;
   background: #f0efef;
   font-family: 'Open Sans', sans-serif;
 }

 p, ul, ol {
   font-size: 13px;
   font-weight: 300;
 }

 .TopRelaxr {
   margin-top: 0;
  font-size: 24px;
   font-weight: 800;
 }
 .button {
   height: 40px;
   width: 180px;
   color: #033048;
   font-size: 14px;
   font-weight: 800;
   line-height: 40px;
   border-radius: 5px;
   text-align: center;
   background: #f9e42e;
   text-decoration: none;
  display: inline-block;
   transition: color .2s ease-out, background .2s ease-out;
 }
 .inner-container {
   margin: 0 auto;
   padding: 0 116px;
   max-width: 1200px;
 }
 header {
   height: 400px;
   padding: 40px 0;
   text-align: center;
  background-image: url('../images/header_bg.jpg');
   background-size: cover;
 }
 header .TopRelaxr {
   color: #f0efef;
   text-align: left;
 }
 header h2 {
   color: #f0efef;
   font-size: 24px;
   font-weight: 600;
   margin-top: 100px;
 }
 .benefits {
   padding: 116px 0;
   background-color: #f0efef
 }
 .benefits h2 {
   margin-top: 0;
   color: #033048;
   font-size: 20px;
   font-weight: 600;
 }
 .benefits p {
   color: #606161;
 }
 .benefits ul {
   color: #121212;
 }
 .testimonial {
   color: #f0efef;
   padding: 60px 0;
   text-align: center;
   background-image: url('../images/testimonial_bg.jpg');
   background-size: cover;
 }
 .testimonial blockquote {
   margin: 0 auto;
   font-size: 18px;
   font-weight: 300;
   max-width: 400px;
 }
 .testimonial blockquote p {
  font-size: 18px;
   font-style: italic;
 }
 .testimonial blockquote footer {
   font-weight: 600;


 .signup {
  padding: 20px 0;
   text-align: center;
   background: #f9e42e;
 }
 .signup .button {
   color: #f0efef;  background: #033048;
}

 .site-footer {
   color: #f0efef;
   padding: 40px 0;
   text-align: center;
   background: #2E2E2E;
 }
 .site-footer .logo {
   color: #f9e42e;
 }
 .social-links {
   padding: 0;
   margin: 40px 0;
 }
 .social-links li {
   margin: 0 20px;
   list-style: none;
   display: inline-block;
 }
 .copyright {
   font-size: 9px;
   font-weight: 600;
 }
